.plus-bg1 {
  background-color: #1f1f1f;
  border-radius: 15%;
  border: solid 1px rgb(81, 81, 81);
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
  position: fixed;
  right: 3vh;
  bottom: 3vh;
  width: 80px;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.logo {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.plus-bg1:hover,
.logo:hover {
  transform: scale(1.1);
}

@media (max-width: 750px) {
  .plus-bg1 {
    display: none;
  }
  .logo {
    display: none;
  }
}

.logo:active,
.plus-bg1:active {
  transform: scale(0.9);
}
